@model IEnumerable<Person>

@{
    
}

<div class="text-center">
<button class="btn-success">People</button>
</div>

<div class="search-form">
<input type="text" id="id" name="id" value="Input id"/>
<button type="submit">Details</button>
</div>



@foreach (var person in Model)
{
    <partial name="~/Views/Shared/_PersonPartial.cshtml" model="person"></partial>
}